################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cocktail.Backend/FileContentIndex/4d2e8d79-ba51-4104-b5be-995c11ba7a2c.vsidx
